@media (min-width: 300px) and (max-width: 600px)   {
  .img-header {
    width: rgba(200, 0, 0, 0); /* */
  }

  .head1 {
    font-size: 3rem;
  }

  .head2 {
    font-size: 1rem;
    margin-top: 90px;
  }

  .square-border {
    width: 280px;
    height: 180px;
  }

  .img-yellow {
    margin-top: 230px;
    margin-left: 20px;
  }
} 
