@media (min-width: 700px) and (max-width: 1000px)   {
  .img-header {
    width: rgba(200, 0, 0, 0); /* */
  }

  .head1 {
    font-size: 5.5rem;
  }

  .head2 {
    font-size: 2rem;
  }

  .square-border {
    width: 550px;
    height: 370px;
  }

  .img-yellow {
    width: 70%;
    margin-top: 395px;
    margin-left: 30px;
  }
}
